* {
  box-sizing: border-box;
}

.c-calco {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto repeat(5, 1fr);
  grid-template-areas:
    "ris ris ris ris"
    "più meno per diviso"
    "sette otto nove uguale"
    "quattro cinque sei uguale"
    "uno due tre uguale"
    "zer punto ac uguale";
  width: 500px;
  height: 500px;
  justify-items: center;
  align-items: stretch;
}

span {
  height: 100%;
  width: 100%;
  border: 1px solid grey;
  font-weight: bold;
  font-size: 20px;
  background-color: rgb(231, 235, 238);
  text-align: center;
}

.c-calco span:first-child {
  padding-top: 30px;
  padding-bottom: 10px;
  grid-area: ris;
  border: 1px solid grey;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  color: white;
  background-color: rgb(66, 65, 65);
  font-size: 35px;
  text-align: right;
  padding-right: 15px;
}

.c-calco span:nth-child(2) {
  padding-top: 25px;
  grid-area: più;
  background-color: rgb(211, 224, 236);
}

.c-calco span:nth-child(3) {
  padding-top: 25px;
  grid-area: meno;
  background-color: rgb(211, 224, 236);
}

.c-calco span:nth-child(4) {
  padding-top: 25px;
  grid-area: per;
  background-color: rgb(211, 224, 236);
}

.c-calco span:nth-child(5) {
  padding-top: 25px;
  grid-area: diviso;
  background-color: rgb(211, 224, 236);
}

.c-calco span:nth-child(6) {
  padding-top: 25px;
  grid-area: sette;
}

.c-calco span:nth-child(7) {
  padding-top: 25px;
  grid-area: otto;
}

.c-calco span:nth-child(8) {
  padding-top: 25px;
  grid-area: nove;
}

.c-calco span:nth-child(9) {
  padding-top: 25px;
  grid-area: quattro;
}

.c-calco span:nth-child(10) {
  padding-top: 25px;
  grid-area: cinque;
}

.c-calco span:nth-child(11) {
  padding-top: 25px;
  grid-area: sei;
}

.c-calco span:nth-child(12) {
  padding-top: 25px;
  grid-area: uno;
}

.c-calco span:nth-child(13) {
  padding-top: 25px;
  grid-area: due;
}

.c-calco span:nth-child(14) {
  padding-top: 25px;
  grid-area: tre;
}

.c-calco span:nth-child(15) {
  padding-top: 25px;
  grid-area: zer;
  border: 1px solid grey;
  border-bottom-left-radius: 25px;
}

.c-calco span:nth-child(16) {
  padding-top: 25px;
  grid-area: punto;
}

.c-calco span:nth-child(17) {
  padding-top: 25px;
  grid-area: ac;
}

.c-calco span:last-child {
  grid-area: uguale;
  border: 1px solid grey;
  border-bottom-right-radius: 25px;
  background-color: rgb(241, 102, 102);
  padding-top: 140px;
}
